<ActionBar class="action-bar">
    <NavigationButton [nsRouterLink]="['../../home']" android.systemIcon="ic_menu_back"></NavigationButton>
    <Label class="action-bar-title" [text]="item?.EventDesc"></Label>
</ActionBar>

<GridLayout>
    <ListView *ngIf="!processing" [items]="rates" class="list-group">
        <ng-template let-rate="item">
            <Label text="{{rate.lot}} {{rate.name}} ${{rate.fee}}" (tap)="purchase(rate.fee)" class="list-group-item"></Label>
        </ng-template>
    </ListView>
    <StackLayout *ngIf="processing">
        <Label [text]="charge" class="h1 text-center m-10" textWrap="true"></Label>
        <Label [text]="status" class="h2 text-center m-10" textWrap="true"></Label>
    </StackLayout>
    <ActivityIndicator [busy]="processing" [visibility]="processing ? 'visible' : 'collapse'" 
        horizontalAlignment="center" verticalAlignment="center" color="blue" width="100" height="100"></ActivityIndicator>
</GridLayout>